<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/vue.min.js"></script>
    <script src="js/qrious.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Gerador de QRCode</title>
</head>

<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <div>
            <input type="text" size="25"
                placeholder="Digite para gerar..."
                v-model="text" 
            > <!--O "v-model" faz com que o valor do input seja capturado para o atributo text-->
            <!--"@input" monitora quando for inserido algum valor no input-->
        </div>

        <div v-if="text" class="output">
            <img :src="newQRCode" alt="QRCode">
        </div>
    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                title: 'Gerador QRCode',
                text: 'https://www.cod3r.com.br',
                qrcode: new QRious({ size: 300 }) //criação do QRcode de tamanho 300 usando uma instancia da lib QRious
            },
            computed: {
                newQRCode(){
                    this.qrcode.value = this.text
                    return this.qrcode.toDataURL() //gera um atributo data que pode ser associado a uma imagem para gerar o qrcode
                }
            }
        })
    </script>
</body>

</html>